################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/david/FileContentIndex/35f57596-83e9-4fa1-b92c-32a9d0f39ff5.vsidx
/.vs/david/FileContentIndex/c0e16ac8-3550-47f2-a10f-0f273bb33833.vsidx
